.btn6 {
	width:115px;
	height:35px;
	line-height:14px;
	font-size:14px;
	background:url("images/bg5.png?1222259157.415") no-repeat left top;
	color:#959595;
	padding:0px 0px 2px 2px;
	font-family:微軟正黑體;
}